@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overscroll-behavior: none;
    align-items: center;
    display: flex;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 2800px;
    height: 100%;
}

.slider-inner {
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    position: relative;
    width: 400px;
    height: 80%;
    overflow: hidden;
    /* background-color: red; */
}

.img {
    position: relative;
    left: -100px;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.judul{
    position: fixed;
    color: #fff;
    top: 680px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
}

.isi {
    position: fixed;
    color: #fff;
    top: 710px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 100;
    justify-content: flex-start;
    width: 10%;
}